{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
        {% block site_name %}
        {% endblock site_name %}
        
</head>
<body>
    <header>
        <div class="logo-main">
            <!-- <img src="" alt=""> -->
            <img src="{% static 'images/avatartalklogo.png' %}" alt="" style="width: 40px;">
            <p class="app-name"> <a href="{''}" style="font-size: 25px;">AvatarTalk</p></a>
        </div>
        <div>
            <ul>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </header>
    {% block content  %}
    {% endblock content %}
    <footer>&copy; Copyright 2023 avatartalk.com</footer>
</body>
</html>